* {
  margin: 0px;
}

h2,  h3, h4 {
  font-family: 'Montserrat', 'sans-serif';
  color: #ffffff;
}

.encabezado {
  height: 400px;
  background-image: url(https://picsum.photos/id/350/1200/1200);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
    height: 60px;
    background-color: #663399 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cuerpo {
    padding: 50px, 100px, 50px, 100px;
    display: flex;
    flex-wrap: wrap;
    
}

.cards {
    width: 350px;
    height: 400px;
    border-radius: 10px;
    background-color: red;  /*PRUEBA--ACORDARSE DE CAMBIAR*/
} 

.footer {
    height: 200px;
    background-color: #2f4f4f;
    display:flex ;
    align-items: center;
    padding-left:25px
    
}
