h2 {
  font-family: 'Montserrat', 'sans-serif';
  color: #ffffff;
}
h3 {
    font-family:'Nunito', 'sans-serif';
    color: #ffffff;
}
.encabezado {
  height: 400px;
  background-image: url(https://picsum.photos/id/350/1200/1200);
  background-size: cover;
  background-repeat: no-repeat;
  /*img-width: 100%;*/
  /*img-height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
    height: 60px;
    background-color: #6600ff ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
